@font-face {
    font-family: "namR";
    src: url(/17th_appjam/fonts/NanumSquareR.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}
body{
    background-color: #F8f8f8;
}

.w_header{
    width: 100%;
}

.p_pre {
    font-size: 35px;
    color: #bcbcbc;
    cursor: pointer;
    float: left;
}

#write1 {
    width: 340px;
    margin: auto;
    margin-bottom: 30px;
}

#write1 input {
    width: 100%;
    height: 50px;
    border: 0;
    border-bottom: 1px solid #bcbcbc;
    background-color: #F8f8f8;
    padding: 10px;
    outline: none;
}

.r_age {
    width: 340px;
    margin-top: 10px;
}

#m_hss {
    width: 350px;
    height: 45px;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    /* background-color: blue; */
}

.m_hs {
    width: auto;
    background-color: red;
    float: left;
    margin: 5px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    color: black;
    text-align: center;
    border-radius: 40px;
    line-height: 5px;
    padding: 17px 10px 2px 10px;
    box-shadow: 2px 2px 6px #bcbcbc;
}

.m_hs button {
    background-color: #ffffff00;
    border: 0;
    /* margin-top: 10 */
}

.r_sub {
    width: 340px;
    margin-top: 150px; 
}

.r_sub button {
    width: 100%;
    height: 40px;
    border: 1px solid #ffcf00;
    background-color: #ffcf00;
    border-radius: 50px;
}