@font-face {
    font-family: "namR";
    src: url(fonts/NanumSquareR.ttf) format("truetype");
    font-weight: normal;
    font-size: 35px;
    font-style: normal;
}

.nice-date-picker-warpper{
    width:921px;
    height: 905px;
    background-color:#e9e9e9;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    padding:10px;
    border-radius:5px;
}
.nice-date-picker-header{
    width:100%;
    height:137px;
    font-size:0;
    position:relative;
    box-shadow: 1px 1px 3px #bcbcbc;
}
.nice-date-picker-header span,.nice-date-picker-header a{
    display:inline-block;
    height:40px;
    /* line-height:40px; */
}
.nice-date-picker-header .prev-date-btn,.next-date-btn{
    font-size:89px;
    width:510px;
    line-height: 105px;
    text-align:center;
    color:#bebebe;
    text-decoration: none;
}
.nice-date-picker-header .prev-date-btn{
    position:absolute;
    left:0px;
    top:0px;
}
.nice-date-picker-header .next-date-btn{
    position:absolute;
    right:0px;
    top:0px;
}
.nice-date-title{
    width:100%;
    font-size:42px;
    color: #828282;
    text-align:center;
    line-height: 110px;
}
.nice-date-picker-body{
    width:100%;
}
.nice-date-picker-body tr{
    width:100%;
    height: 128px;
}
.nice-date-picker-body tr th{
    width:122px;
    height:40px;
    color:#000000;
    font-family: 'namR';
    line-height:40px;
    text-align:center;
    font-size: 35px;
    font-weight:100;
}
.nice-date-picker-body tr td{
    width:46px;
    height:40px;
    font-size: 35px;
    color:#626262;
    font-family: 'namR';
    line-height:40px;
    text-align:center;
}
.nice-date-picker-body tr .nice-gray{
   opacity:.3;
}
.nice-date-picker-body tr .nice-normal{
    cursor:pointer;
}
.nice-date-picker-body tr .nice-current{
    background:#ffcf00;
    border-radius:75px;
}
.nice-date-picker-body tr .nice-active{
    background:#a3a3a3;
    border-radius:5px;
}

        #calendar1{
            padding:10px;
            float: left;
        }
        #calendar2{
            padding:10px;
            float: left;
        }
        .calendar1-msg,.calendar2-msg{
            width:100%;
            height:30px;
            line-height:30px;
            color:#000;
            text-align: center;
            font-size:14px;
            display:block;
        }

        /* .btn{
            width:200px;
            height:40px;
            line-height:40px;
            text-align: center;
            border-radius:5px;
            background-color:#f00;
            text-decoration: none;
            color:#fff;
            font-size:14px;
            margin:0 auto;
            display: block;
            margin-bottom:30px;
        } */

.d_sc {
    width: 941px;
    height: 205px;
    /* background-color: red; */
}

#dot {
    width: 105px;
    height: 160px;
    /* background-color: blue; */
    position: relative;
    top: 50px;
    float: left;
}

#dot_ex {
    width: 50px;
    margin-right: auto;
    margin-left: auto;
    height: 50px;
    border: 1px solid #ffcf00;
    background-color: #ffcf00;
    border-radius: 75px;
}

#el_s{
    height: 100%;
    background-color: #e9e9e9;
    padding-top: 27px;
    border-top: 1px solid #bcbcbc;
}

#el_s_p {
    font-family: 'namR';
    font-size: 35px;
}

#el_s_p1 {
    font-family: 'namR';
    font-size: 25px;
}

/* ===================바닥 */
#m_bo {
    width: 100%;
    height: 100px;
    background-color: #e4e4e4;
    position: fixed;
}

#m_box {
    position: absolute;
    bottom: 65px;
}

#m_bo2{
    position: absolute;
    bottom: -35px;
    width: 80px;
    height: 80px;
    border: 1px solid #ffcf00;
    border-radius: 75px;
    background-color: #ffcf00;
    margin: auto;
    left: 144px;
    /* background-color: blue; */
}

#m_boxs {
    /* width: 100%; */
    /* height: 100px; */
    /* background-color: red; */
    position: fixed;
}

.m_bo2_p {
    text-align: center;
    font-size: 36px;
    color: #ffffff;
}

.n_icon_l {
    /* background-color: #97/9797; */
    width: 45px;
    height: 45px;
    float: left;
    margin-right: 8px;
    margin-top: 18px;
    margin-left: 24px;
    cursor: pointer;
}

.n_icon_r {
    /* background-color: #97/9797; */
    width: 15px;
    height: 50px;
    float: right;
    margin-right: 55px;
    margin-top: 19px;
    margin-left: 5px;
    cursor: pointer;
}

.n_icon_img {
    width: 25px;
    height: 25px;
}

.n_cen {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.n_cen a img {    
    width: 35px;
    margin-left: 12px;
    margin-top: 18px;
}